name: CI - Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Create dummy .env file
        run: |
          touch ./server/.env
          echo "DB_PASSWORD=placeholder" >> ./server/.env

      - name: Verify Docker Compose Config
        run: docker compose config

      - name: Build Docker Images
        run: docker compose build
